# Dependencies
node_modules/
**/node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local files
*.local

# Uploaded files
server/uploads/*

# Keep upload folder structure
!server/uploads/.gitkeep

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Windows files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.temp